<mat-toolbar color="primary">

  <button mat-icon-button  (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 style="margin-left: 10px;">My Lists</h1>
</mat-toolbar>

<mat-sidenav-container>
<mat-sidenav mode="push" opened="false" #sidenav>

  <mat-nav-list>
    <a mat-list-item mat-icon routerLink="game"><mat-icon class="menu-item">sports_esports</mat-icon> Games</a>
    <a mat-list-item mat-icon routerLink="movies"><mat-icon class="menu-item">movie</mat-icon>Filmes</a>
    <a mat-list-item mat-icon routerLink="books"><mat-icon class="menu-item">auto_stories</mat-icon>Livros</a>
    <a mat-list-item mat-icon routerLink="genre"><mat-icon class="menu-item">tag</mat-icon>Generos</a>
    <a mat-list-item mat-icon routerLink="about"><mat-icon class="menu-item">info</mat-icon>About</a>

  </mat-nav-list>
</mat-sidenav>
<mat-sidenav-content>
  <div style="min-height: calc(100vh - 64px) ; padding: 30px;">
    <mat-card class="card">
      <router-outlet></router-outlet>
    </mat-card>
  </div>
</mat-sidenav-content>
</mat-sidenav-container>
